{% extends 'base.html.twig' %}
{% block body %}
    <div class="container" >
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 headerBorder">
            <ul class="nav nav-pills">
                <li class="nav-item text-end"><a href="{{ path('app_home') }}" class="btn btn-md btn-danger {% if results['status'] == false %} disabled {% endif %}">Distribute Cards</a></li>
            </ul>
        </header>
    </div>
    <div class="container">
        <div class="row">
            {% if results['status'] %}
            <div class="col-sm-6 sortedCards">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-ms-6">
                                <h6 class="orderTitle">NUMBER ORDER : <p style="color:black!important;">['as', '5', '10', '8', '6', '7', '4', '2', '3', '9', 'dame', 'roi', 'valet']</p></h6>
                                <h6 class="orderTitle">COLOR CHOOSEN : <p style="color:black!important;">['carreau', 'coeur', 'pique', 'trefle']</p></h6>
                                <h6 class="orderTitle">NOTICE : <p style="color:black!important;">the first order is made via the number of cards, if several successive cards have the same number, we change the order of these by card color</p></h6>
                                <br>
                                <h3>✔ Sorted Cards
                                    <span class="cardLength"> ({{ results.sorted|length }})</span>
                                </h3>
                                <br>
                            </div>
                            {% for sortedcard in results.sorted %}
                                <div class="col-sm-3">
                                    <img src="{{ asset('cards/'~sortedcard.img) }}" class="img-fluid cardImg" alt="{{ sortedcard.img }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 unsortedCards" >
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-ms-6">
                                <h3>✘ UnSorted Cards <span class="cardLength"> ({{ results.notSorted|length }})</span></h3>
                                <br>
                            </div>
                            {% for unsortedcard in results.notSorted %}
                                <div class="col-sm-2">
                                    <img src="{{ asset('cards/'~unsortedcard.img) }}" class="img-fluid cardImg" alt="{{ unsortedcard.img }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        Not enough cards to deal the game
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}